# Project exclude paths
/.gradle/
/Problems/Cats are robots/out/
/Problems/Cats are robots/out/production/classes/
/Problems/From 0 to 4/out/
/Problems/From 0 to 4/out/production/classes/
/Problems/Hello!/out/
/Problems/Hello!/out/production/classes/
/Problems/Hello, Java/out/
/Problems/Hello, Java/out/production/classes/
/Problems/The Hello World program/out/
/Problems/The Hello World program/out/production/classes/
/Problems/The result of a Tic-Tac-Toe game/out/
/Problems/The result of a Tic-Tac-Toe game/out/production/classes/
/Problems/We need to learn Java/out/
/Problems/We need to learn Java/out/production/classes/
/Problems (8)/The sum of digits/out/
/Problems (8)/The sum of digits/out/production/classes/
/Problems (9)/Snail/out/
/Problems (9)/Snail/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/